/* Global Classes */
body {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.font {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.bolder {
  font-weight: 900;
}

.btn {
  background-color: #212121;
  color: #fff;
  padding: 10px 10rem;
}

.flex-gap-3 {
  gap: 1rem;
}

.btn-secondary {
  width: 300px;
  padding: 10px 0 !important;
}

/* .Join As a customer */
.logo {
  margin-bottom: 10rem;
}

.joining-options {
  min-height: 200px;
  min-width: 320px;
}

input[type='radio']:after {
  width: 17px;
  height: 17px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #fafafa;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid #000;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  content: url(./assets/images/radio-check.png);
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.header-section h1 {
  font-weight: 900;
}

/* Create Account */

.sign-up-page {
  background-image: url('./assets/images/bg-1.png');
  background-size: cover;
  height: 100%;
}

.overlay-wrapper {
  opacity: 0.4;
}

.inputs-container label {
  bottom: 30px;
  z-index: 999;
  background-color: #fff;
  left: 15px;
}

.inputs-container input {
  left: 2%;
}

.form-inputs {
  gap: 2rem;
}
/* Home Page */

.hero-bg {
  background-image: url('./assets/images/bg-img2.jfif');
  background-position: left;
}

.overlay-wrapper-2 {
  left: 0;
}

.single-slide {
  gap: 1rem;
}

.slick-slide {
  margin-right: 10px;
}

.slick-list {
  position: relative !important;
  height: 400px !important;
}

.slick-next {
  position: absolute !important;
  top: 0 !important;
  left: 98%;
}

.slick-prev {
  position: absolute !important;
  top: 0 !important;
  left: 95% !important;
}

.slick-prev:before {
  content: url('./assets/images/AutoLayoutHorizontal(1).png') !important;
}

.slick-next:before {
  content: url('./assets/images/AutoLayoutHorizontal.png') !important;
}

.browse-collections {
  background-image: url('./assets/images/Rectangle4308.png');
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 280px;
  margin-bottom: 10rem;
}

/* Complete Profile */

.profile-text-container {
  margin-bottom: 8rem;
}

.profile-text-container h1 {
  margin-bottom: 2rem;
}

/* Profile Step1 */
.profile-step1 {
  background-image: url('./assets/images/Group-166.png');
  height: max-content;
}

/* Profile Step2 */
.profile-step2 {
  background-image: url('./assets/images/Group167.png');
  height: 100vh;
  background-size: cover;
}

.progress-bar {
  width: 3px;
  left: 3%;
  height: 90%;
  z-index: -1;
}

/* PLace Bid */
.inquiry-form-container h6 {
  width: 18%;
}

.date-column {
  gap: 5rem;
}

.amount-col {
  gap: 5rem;
}

.status-col {
  gap: 5rem;
}

@media (max-width: 600px) {
  /* Join as a customer */
  .options-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center !important;
    gap: 15px;
  }

  .profile-btns-row {
    gap: 10px;
  }

  .get-started-btn {
    background-color: #212121 !important;
    color: #fff !important;
    padding: 10px 5rem !important;
  }

  .slick-prev {
    left: 70% !important;
  }
  .slick-next {
    left: 85% !important;
  }

  .slick-slide {
    margin-right: 0;
  }
}
